/* 
    Reset css
*/

* {
    /* Emmet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
/* 
    1. Làm từ ngoài vào trong
    2. Làm từ trên xuống dưới
    3. Từ tổng quan đến chi tiết
*/

/* 
    1. Vị trí
    2. Kích thước (width, heigh)
    3. Màu sắc
    4. Kiểu dáng(vuông, tròn, chữ)
*/
.clear {
    clear:both; 
}

.text-white {
    color: white !important;
}

#main {
    
}

#header {
    height: 46px;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav {
    display: inline-block;
}

#nav , .subnav{
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    /* display: inline-block; */
    position: relative;
}



#nav > li > a {
    color: #ffffff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding-left: 24px;
    padding-right: 24px;
    display: block;
    
}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a {
    color: #000000;
    background-color: #cccccc;
    display: inline-block;
}


#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #c38d8d;
    box-shadow: 0, 0, 30px, rgba(0, 0, 0, 0.9); 
    top: 100%;
}

#nav.subnav a {
    color: black;

    line-height: 38px;
    
    
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

#header .search-button {
    float: right;
    padding: 0 21px;

}

#header .search-button:hover {
    cursor: pointer;
    background-color: red;
}

#header .search-icon {
    color:white;
    font-size: 30px;
    line-height: 46px;
}

#slider {
    position: relative;
    padding-top: 50%;
    margin-top: 46px;
    background: url('/asset/image/slider/ny.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 0;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    bottom: 47px;
    text-align: center;
}
#slider .text-heading {
    font-weight: 1400;
    font-size: 24px;
    margin-bottom: 10px;
}
#slider .text-description {
    font-size: 15px;
    margin-top: 15px;
}

#content {
    
}

#content .content-section {
    width: 800px;
    padding: 64px 0;
    /* text-align: justify; */
    margin-left: auto;
    margin-right: auto;

}

#content .section-heading {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
    
}

#content .section-sub-heading {
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
    text-align: center;
}

#content .about-tour {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
    margin-bottom: 15px;
}

#content .member-list {
    margin-top: 32px;
    text-align: center;
    /* width: calc(100% / 3); */
    /* overflow: hidden; */
}

#content .member-item {
    /* display:inline-block; */
    float: left;
    width: 33.333333%

}

#content .member-name {
    font-size: 15px;
    text-align: center;

}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 5px;
}

#content .tour-section {
    background-color: black;
}

#content .tickets-list {
    background-color: white;
    margin-top: 40px;
}

#content .tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    list-style-type: none;

}

#content .tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

#content .tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    color:white;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

#content .places-list {
    margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: 32px;
}

#content .places-item {
    float: left;
    width: 33.33333%;
    height: auto;
    padding: 0 8px;
}

#content .place-img {
    width: 100%;
    display: block;

}

#content .place-img:hover {
    opacity: 0.6;
}

#content .place-body {
    background-color: white;
    font-size: 15px;
    padding: 16px;
}

#content .place-heading {
    font-size: 15px;
    font-weight: 600;
}

#content .place-time {
    margin-top: 15px;
    color: #757575;
}   

#content .place-description {
    margin-top: 15px;
    line-height: 1.6;
}

#content .place-buy-button {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}

#content .place-buy-button:hover {
    color: #000;
    background-color: #ccc;
}

#footer {
    
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

}

.modal.open {
    display: flex;
}

.modal > .modal-container {
    background: white;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal .modal-header {
    color: #fff;
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 130px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.modal .modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    opacity: 0.9;

}

.modal .modal-close:hover {

}

.modal .model-heading-icon {
    margin-right: 16px;
}

.modal .modal-body {
    padding: 16px 16px;
}

.modal .modal-label {
    display: block;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 24px;
}

.modal .modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
}

.modal #buy-tickets {
    margin-top: 15px;
    background: #009688;
    border: none;
    color: white;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}

.modal #buytickets:hover {
    opacity: 0.9;
    
}

.modal .modal-footer {
    padding: 16px;
    text-align: right;

}

.modal .modal-footer a {
    color: blue;
}


@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}